@import "./fonticon";
@import "./roboto";

html, body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 800px;
  margin: auto;
}

.ui {
  @media print {
    display: none;
  }
}

.page {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;

  @media print {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  @media screen {
    border: 2px solid #212121;
  }
}

.frame {
  position: relative;
  display: flex;
  flex: 0 1 auto;

  box-sizing: border-box;
  border: 1px solid black;

  justify-content: space-around;

  .glue {
    flex: 0 0 auto;
    text-align: center;

    box-sizing: border-box;
    padding: 0.5em;
    font-size: 2em;

    color: #efefef;
    background: #676767;
  }

  img {
    width: 100%;
  }
}
